html{
    background-color: #ffffff;
}

/*sidebar
=============*/
.wrapper{
    background-color: #2d8eff;
    color: white;
    padding: 10px 20px 200px 20px;
    font-family: 'benchnine',sans-serif;
    font-size: 30px;
    display: flex;
    align-items: stretch;
    width: 15%;
    position: fixed;
}

.wrapper h1{ 
    font-size: 70px;
    padding-bottom: 30px;
    font-family: 'benchnine', sans-serif;
}

li{
    padding: 5px;
}

.container{
    max-width: 2000px;
}

/*graphique
=====================*/

canvas{
    border: 3px solid;
    background-color: rgba(255, 217, 217, 0.63);
    margin: 30px;
}


