html{
    background-color: #ffffff;
}

/*sidebar
=============*/
.wrapper{
    background-color: #2d8eff;
    color: white;
    padding: 10px 20px 400px 20px;
    font-family: 'benchnine',sans-serif;
    font-size: 20px;
    display: flex;
    align-items: stretch;
}

li{
    padding: 5px;
}

.container{
    max-width: 2000px;
}
.ireadbabdh